In [3]:
import pandas as pd
covid_data = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_daily_reports/03-17-2020.csv')

In [9]:
covid_data.head(25)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
0,Hubei,China,2020-03-17T11:53:10,67799,3111,56003,30.9756,112.2707
1,NaN,Italy,2020-03-17T18:33:02,31506,2503,2941,41.8719,12.5674
2,NaN,Iran,2020-03-17T15:13:09,16169,988,5389,32.4279,53.6880
3,NaN,Spain,2020-03-17T20:53:02,11748,533,1028,40.4637,-3.7492
4,NaN,Germany,2020-03-17T18:53:02,9257,24,67,51.1657,10.4515
5,NaN,"Korea, South",2020-03-17T10:33:03,8320,81,1407,35.9078,127.7669
6,France,France,2020-03-17T19:13:08,7652,148,12,46.2276,2.2137
7,NaN,Switzerland,2020-03-17T16:33:04,2700,27,4,46.8182,8.2275
8,United Kingdom,United Kingdom,2020-03-17T15:13:09,1950,55,52,55.3781,-3.4360
9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481
10,Netherlands,Netherlands,2020-03-17T15:13:11,1705,43,2,52.1326,5.2913
11,NaN,Norway,2020-03-17T19:53:02,1463,3,1,60.4720,8.4689
12,Guangdong,China,2020-03-17T01:53:03,1364,8,1307,23.3417,113.4244
13,NaN,Austria,2020-03-17T15:33:06,1332,3,1,47.5162,14.5501
14,Henan,China,2020-03-14T09:53:08,1273,22,1250,33.8820,113.6140
15,NaN,Belgium,2020-03-17T15:33:06,1243,10,1,50.5039,4.4699
16,Zhejiang,China,2020-03-17T02:13:21,1232,1,1216,29.1832,120.0934
17,NaN,Sweden,2020-03-17T15:33:06,1190,7,1,60.1282,18.6435
18,Washington,US,2020-03-17T23:33:03,1076,55,1,47.4009,-121.4905
19,Hunan,China,2020-03-14T08:33:03,1018,4,1014,27.6104,111.7088
20,Anhui,China,2020-03-11T02:18:14,990,6,984,31.8257,117.2264
21,Denmark,Denmark,2020-03-17T16:33:04,977,4,1,56.2639,9.5018
22,Jiangxi,China,2020-03-12T02:13:04,935,1,934,27.6140,115.7221
23,NaN,Japan,2020-03-17T16:53:04,878,29,144,36.2048,138.2529
24,Shandong,China,2020-03-17T00:33:02,761,7,746,36.3427,118.1498

In [4]:
print("\nDataset information:")
covid_data.info()

Dataset information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 276 entries, 0 to 275
Data columns (total 8 columns):
Province/State    126 non-null object
Country/Region    276 non-null object
Last Update       276 non-null object
Confirmed         276 non-null int64
Deaths            276 non-null int64
Recovered         276 non-null int64
Latitude          276 non-null float64
Longitude         276 non-null float64
dtypes: float64(2), int64(3), object(3)
memory usage: 17.4+ KB

In [5]:
print("\nMissing data information:")
covid_data.isna().sum()

Missing data information:

Province/State    150
Country/Region      0
Last Update         0
Confirmed           0
Deaths              0
Recovered           0
Latitude            0
Longitude           0
dtype: int64

In [8]:
import matplotlib.pyplot as plt
%matplotlib inline

In [28]:
print("How many countries are in this data set?")
covid_data["Country/Region"].nunique()

How many countries are in this data set?

159

In [31]:
us_covid_data = covid_data[covid_data["Country/Region"] == "US"]

In [32]:
us_covid_data.head(15)

,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered,Latitude,Longitude
9,New York,US,2020-03-17T22:53:03,1706,13,0,42.1657,-74.9481
18,Washington,US,2020-03-17T23:33:03,1076,55,1,47.4009,-121.4905
25,California,US,2020-03-17T22:53:03,698,12,6,36.1162,-119.6816
44,New Jersey,US,2020-03-17T20:13:22,267,3,1,40.2989,-74.5210
54,Massachusetts,US,2020-03-17T22:53:02,218,0,1,42.2302,-71.5301
55,Florida,US,2020-03-17T23:33:02,216,6,0,27.7663,-81.6868
59,Louisiana,US,2020-03-17T22:53:03,196,4,0,31.1695,-91.8678
69,Illinois,US,2020-03-17T22:53:03,161,1,2,40.3495,-88.9861
70,Colorado,US,2020-03-17T22:53:03,160,2,0,39.0598,-105.3111
73,Georgia,US,2020-03-17T20:13:22,146,1,0,33.0406,-83.6431
84,Pennsylvania,US,2020-03-17T23:13:10,112,0,0,40.5908,-77.2098
85,Texas,US,2020-03-17T20:13:22,110,1,0,31.0545,-97.5635
100,Tennessee,US,2020-03-17T23:13:10,74,0,0,35.7478,-86.6923
102,Wisconsin,US,2020-03-17T20:13:22,72,0,1,44.2685,-89.6165
105,Connecticut,US,2020-03-17T23:13:10,68,0,0,41.5978,-72.7554